<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h4>Section 1</h4>
        <ul>
          <li><%= link_to "link 1", "http://link1.org" %></li>
          <li><%= link_to "link 2", "http://link2.org" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>