<% title "Forgot password" %>

<%= form_for [:admin, @admin_user_session], :url => admin_forgot_password_path, :html => { :class => "form-horizontal" } do |f| %>
  <legend>Forgot password</legend>

  <p>Add your email and you will receive a reset password instructions</p>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span><%= f.text_field :email, :class => "span4", :type => "email" %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Reset password", :class => "btn btn-primary", :id => "login-button" %>
    </div>
  </div>
<% end %>
