<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <ul>
          <li><%= link_to "Items", :front_items %></li>
          <li><%= link_to "About", front_page_path("about") %></li>
          <li><%= link_to "Login", :admin_login %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>